<%= turbo_frame_tag 'products_found' do %>
  <% if @products.present? %>
    <% unless @products.empty? %>
      <h2>Results for:&nbsp;<%= @query %>
      </h2>
      <table class="table-auto">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td>
                <%= product.code %>
              </td>
              <td>
                <%= product.name %>
              </td>
              <td>
                <%= product.description %>
              </td>
              <td>
                <%= product.price %>
              </td>
              <td>
                <%= product.stock %>
              </td>
              <td>
                <%= form_with url: add_product_to_sale_path, method: :post, data: { turbo_frame: "sale_products" } do |form| %>
                  <%= form.text_field :product_id, value: product.id, hidden: true %>
                  <%= form.number_field :quantity, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
                  <%= form.submit 'Add' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h2>No products found</h2>
    <% end %>
  <% end %>

<% end %>
