<div class="p-4 lg:px-0">
  <div class="w-full p-6 rounded-lg mx-auto bg-white drop-shadow-lg lg:w-2/5">
    <h2
      class="
        text-xl
        text-center
        font-black
        leading-tight
        md:text-2xl
        lg:text-3xl
      "
    >
      Create your own business
    </h2>


    <%= render "form", business: @business %>

    <% unless @enrollments.empty? %>
      <div class="w-full flex items-center justify-between py-5">
        <hr class="w-full bg-gray-400">
        <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OR</p>
        <hr class="w-full bg-gray-400 ">
      </div>

      <h1
        class="
          text-xl
          text-center
          font-black
          leading-tight
          md:text-2xl
          lg:text-3xl
        "
      >
        Join to business
      </h1>

      <%= form_with url: join_to_enrolled_business_path, method: :post do |form| %>
        <div class="my-4">
          <%= form.label 'You are enrolled to the following business:' %>
          <%= form.select :business_id,
            enrollments_to_options(@enrollments),
            {}, { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg mt-2 p-2.5 focus:ring-blue-500 focus:border-blue-500' } %>
        </div>
        <%= form.submit "Join to business",
          class: "text-white bg-blue-700 font-medium rounded-lg text-sm w-full px-5 py-2.5 mt-4 text-center hover:bg-blue-800 cursor-pointer focus:ring-4 focus:outline-none focus:ring-blue-300 sm:w-auto" %>
      <% end %>
    <% end %>
  </div>

</div>
