<div>
  <p class="my-5">
    <strong class="block font-medium mb-1">Product code:</strong>
    <%= @resupply.product.code %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Product name:</strong>
    <%= @resupply.product.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Resupplies:</strong>
    <%= @resupply.quantity %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Resupply total:</strong>
    $<%= @resupply.total %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= @resupply.created_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <% if @resupply.comment.empty? %>
      -- No comment provided --
    <% else %>
      <%= @resupply.comment %>
    <% end %>
  </p>
</div>
