<div class="col-span-full bg-white shadow-lg rounded-sm border  border-gray-200 xl:col-span-6">
  <div class="p-3">
    <ul class="my-1">
      <!-- Item -->
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">Sales</div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
                + <%= number_to_currency(@sales_total) %>
              </span>
            </div>
          </div>
        </div>
      </li>
      <!-- Item -->
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0"> Resupplies</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
                - <%= number_to_currency(@resupplies_total) %>
              </span>
            </div>
          </div>
        </div>
      </li>
      <!-- Item -->
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Gross fit</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
               = <%= number_to_currency(@gross_profit) %>
              </span>
            </div>
          </div>
        </div>
      </li>
      <!-- Item -->
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">General charges</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
                - <%= number_to_currency(@expense.general_charges) %>
              </span>
            </div>
          </div>
        </div>
      </li>
      <!-- Item -->
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Rent</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
               - <%= number_to_currency(@expense.rent) %>
              </span>
            </div>
          </div>
        </div>
      </li>
      <!-- Item -->
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Salaries</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
               - <%= number_to_currency(@expense.salaries) %>
              </span>
            </div>
          </div>
        </div>
      </li>
    <!-- Item -->
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">EBITDA</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
               = <%= number_to_currency(@ebitda) %>
              </span>
            </div>
          </div>
        </div>
      </li>
    <!-- Item -->
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Amortizations</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
               - <%= number_to_currency(@expense.amortizations) %>
              </span>
            </div>
          </div>
        </div>
      </li>

      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Result of explotation</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
              = <%= number_to_currency(@result_of_explotation) %>
              </span>
            </div>
          </div>
        </div>
      </li>
     
     <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Commissions</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
               - <%= number_to_currency(@expense.commissions) %>
              </span>
            </div>
          </div>
        </div>
      </li>
     
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Result before taxes</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
               = <%= number_to_currency(@result_before_taxes) %>
              </span>
            </div>
          </div>
        </div>
      </li>
     
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Taxes</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
               - <%= number_to_currency(@expense.taxes) %>
              </span>
            </div>
          </div>
        </div>
      </li>
     
      <li class="flex px-2">
        <div class="w-9 h-9 rounded-full shrink-0 bg-blue-500 my-2 mr-3">
          <img id="left-arrow" src="<%= asset_path('form.png')%>" class="w-64 mx-auto"/>
        </div>
        <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
          <div class="grow flex justify-between">
            <div class="self-center">
              <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Net profit</a>
            </div>
            <div class="shrink-0 self-start ml-2">
              <span class="font-medium text-gray-800">
              = <%= number_to_currency(@net_profit) %>
              </span>
            </div>
          </div>
        </div>
      </li>

    </ul>
    <%# <%= link_to 'Download this budget', financial_state_url, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
