<% if @expense.present? %>
  <div class="flex justify-between font-bold">
    <div class="text-lg uppercase">
      Sales
    </div>
    <div>
      <%= number_to_currency(@financial_state[:sales_total]) %>
    </div>
  </div>
  <div class="flex justify-between">
    <div class="ml-5">
      <span class="font-bold">-</span>&nbsp;Resupplies
    </div>
    <div class="mr-5">
      <%= number_to_currency(@financial_state[:resupplies_total]) %>
    </div>
  </div>
  <hr class="my-3">

  <div class="flex justify-between font-bold">
    <div class="text-lg uppercase">
      = Gross profit
    </div>
    <div>
      <%= number_to_currency(@financial_state[:gross_profit]) %>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="ml-5">
      <span class="font-bold">-</span>&nbsp;Rent
    </div>
    <div class="mr-5">
      <%= number_to_currency(@expense.rent) %>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="ml-5">
      <span class="font-bold">-</span>&nbsp;Salaries
    </div>
    <div class="mr-5">
      <%= number_to_currency(@expense.salaries) %>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="ml-5">
      <span class="font-bold">-</span>&nbsp;Service bills
    </div>
    <div class="mr-5">
      <%= number_to_currency(@expense.service_bills) %>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="ml-5">
      <span class="font-bold">-</span>&nbsp;General charges
    </div>
    <div class="mr-5">
      <%= number_to_currency(@expense.general_charges) %>
    </div>
  </div>
  <hr class="my-3">

  <div class="flex justify-between font-bold">
    <div class="text-lg uppercase">
      = Ebitda
    </div>
    <div>
      <%= number_to_currency(@financial_state[:ebitda]) %>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="ml-5">
      <span class="font-bold">-</span>&nbsp;Amortizations
    </div>
    <div class="mr-5">
      <%= number_to_currency(@expense.amortizations) %>
    </div>
  </div>
  <hr class="my-3">

  <div class="flex justify-between font-bold">
    <div class="text-lg uppercase">
      = Result of explotation
    </div>
    <div>
      <%= number_to_currency(@financial_state[:result_of_explotation]) %>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="ml-5">
      <span class="font-bold">-</span>&nbsp;Commissions
    </div>
    <div class="mr-5">
      <%= number_to_currency(@expense.commissions) %>
    </div>
  </div>
  <hr class="my-3">

  <div class="flex justify-between font-bold">
    <div class="text-lg uppercase">
      = Result before taxes
    </div>
    <div>
      <%= number_to_currency(@financial_state[:result_before_taxes]) %>
    </div>
  </div>

  <div class="flex justify-between">
    <div class="ml-5">
      <span class="font-bold">-</span>&nbsp;Taxes
    </div>
    <div class="mr-5">
      <%= number_to_currency(@expense.taxes) %>
    </div>
  </div>
  <hr class="my-3">

  <div class="flex justify-between font-bold">
    <div class="text-lg uppercase">
      = Net profit
    </div>
    <div
      class="<%= @financial_state[:net_profit] >= 0 ? 'text-green-600' : 'text-red-600' %>"
    >
      <%= number_to_currency(@financial_state[:net_profit]) %>
    </div>
  </div>

<% else %>
  <h2 class="text-center font-bold text-2xl">
    No expense for month!
  </h2>
<% end %>
