<div id="<%= dom_id inventory %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product description:</strong>
    <%= inventory.product_description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stock:</strong>
    <%= inventory.stock %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Incomes:</strong>
    <%= inventory.incomes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Outcomes:</strong>
    <%= inventory.outcomes %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this inventory", inventory, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this inventory', edit_inventory_path(inventory), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
