<% unless @providers.empty? %>
  <div
    class="
      col-span-full
      bg-white
      shadow-lg
      rounded-sm
      border
      border-gray-200
      xl:col-span-6
    "
  >
    <header class="px-5 py-4 border-b border-gray-100">
      <h2 class="font-bold text-gray-800">List of providers</h2>
    </header>
    <div class="p-3">
      <!-- Table -->
      <div class="overflow-x-auto">
        <table class="table-auto w-full">
          <!-- Table header -->
          <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
            <tr>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Name</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Email</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Phone</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="text-center font-bold text-center">Options</div>
              </th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            <% @providers.each do |provider| %>
              <tr class="border-b">
                <td class="text-sm text-gray-900 font-semibold px-2 py-4 whitespace-nowrap">
                  <%= provider.name %>
                </td>
                <td class="text-sm text-gray-900 font-medium px-2 py-4 whitespace-nowrap">
                  <% if provider.email.present? %>
                    <%= provider.email %>
                  <% else %>
                    No email provided
                  <% end %>
                </td>
                <td class="text-sm text-gray-900 font-medium px-2 py-4 whitespace-nowrap">
                  <% if provider.phone.present? %>
                    <%= provider.phone %>
                  <% else %>
                    No phone provided
                  <% end %>
                </td>
                <td class=" text-center text-sm text-gray-900 font-normal py-4 max-w-[100px]">
                  <div class="flex justify-center space-x-2">
                    <%= link_to 'Edit',
                      edit_provider_path(provider),
                      class: 'bg-blue-500 text-white font-bold py-2 px-6 rounded-full hover:bg-blue-600' %>

                    <%= button_to 'Remove',
                      provider_path(provider),
                      method: :delete,
                      class: 'bg-red-600 text-white font-bold py-2 px-6 rounded-full hover:bg-red-500',
                      form: { data: { turbo_confirm: 'Are you sure?' } } %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="mt-5 flex justify-center">
          <%== pagy_nav(@pagy) %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h2 class="text-center font-bold text-3xl">
    No providers registered!
  </h2>
<% end %>
