<nav
  class="
    bg-white
    w-full
    nunito
    flex
    relative
    justify-between
    items-center
    h-16
    mx-auto
    shadow
    px-5
  "
> 
  <!-- Mobile -->
    <div class = "mobile lg:hidden flex justify-around
    items-center p-0 mx-auto h-full w-full"> 
      
      <ul class="flex justify-around items-center item w-screen">
        <li>
          <div class="flex justify-center items-center item">
            <%= render 'dashboard/partials/sidebar_mobile' %>
          </div>
        </li>

        <li>
          <div class="flex justify-center items-center mx-auto">
          <a href="<%= root_path %>">
              <img
                id="sapec-logo"
                src="<%= asset_path('navbar-logo.png')%>" class="w-16 "
                />
              </a>
            </div>
        </li>

        <li>
          <div class="flex justify-center items-center">
            <%= render 'dashboard/partials/menu' %>
          </div>
      </li>
      
    </ul>
      
  </div>

  <!-- Desktop -->
  <!-- logo -->
  <div class = "desktop w-full flex mx-auto justify-between
    items-center "> 
  <div class="inline-flex">
    <a href="<%= root_path %>">
      <div class="md:block">
        <img
          id="sapec-logo"
          src="<%= asset_path('navbar-logo.png')%>"
          class="w-16 ml-16 my-10 mx-auto"
        />
      </div>
    </a>
  </div>

  <div class="flex-initial">
    <div class="flex justify-end items-center relative">
      <div class="flex mr-4 items-center">
        <div class="block relative">
        </div>
      </div>
      <%= render 'dashboard/partials/menu' %>
    </div>
  </div>
  </div>
</nav>
