<div class="h-full w-full">
   <button
        class="flex items-center focus:outline-none mr-3"
        type="button"
        data-controller="dashboard"
        data-action="click->dashboard#openMenuDropdown"
      >
      <img
        class="w-6 h-6 mr-4"
        src="<%= asset_path('list-menu.svg') %>"
        alt="list-menu"
      />
    </button>
    <div
      class="
        hidden
        w-16
        menu
        sidebar-mobile
        bg-white
        text-white
        px-4
        item
        flex
        items-center
        nunito
        shadow
     "
      style="min-width:12rem"
      id="menu-dropdown"
    >
    <ul class="list-reset">
        <li class="my-2 md:my-0">
          <%= link_to dashboard_path,
            class: "block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400" do %>
            <i
              class="fas fa-home fa-fw mr-3 <%= "text-indigo-400" if has_in_path? 'dashboard' %>"
            ></i>
            <span class="w-full inline-block pb-1 md:pb-0 text-sm">
              Home
            </span>
          <% end %>
        </li>
    
        <li class="my-2 md:my-0">
          <%= link_to employees_path,
            class: "block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400" do %>
            <i
              class="fa-solid fa-users mr-3 <%= "text-indigo-400" if has_in_path? 'employees' %>"
            ></i>
            <span class="w-full inline-block pb-1 md:pb-0 text-sm">
              Employees
            </span>
          <% end %>
        </li>
    
        <% if can? :manage, Client %>
          <li class="my-2 md:my-0">
            <%= link_to clients_path,
            class: "block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400" do %>
              <i
                class="
                  fa-solid
                  fa-users-gear
                  mr-3
                  <%= "text-indigo-400" if has_in_path? 'clients' %>
                "
              ></i>
              <span class="w-full inline-block pb-1 md:pb-0 text-sm">
                Clients
              </span>
            <% end %>
          </li>
        <% end %>
    
        <% if can? :manage, Provider %>
          <li class="my-2 md:my-0">
            <%= link_to providers_path,
            class: "block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400" do %>
              <i
                class="
                  fa-solid
                  fa-truck-field
                  mr-3
                  <%= "text-indigo-400" if has_in_path? 'providers' %>
                "
              ></i>
              <span class="w-full inline-block pb-1 md:pb-0 text-sm">
                Providers
              </span>
            <% end %>
          </li>
        <% end %>
    
        <li class="my-2 md:my-0">
          <%= link_to products_path,
            class: "block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400" do %>
            <i
              class="
                fa-solid
                fa-boxes-stacked
                mr-3
                <%= "text-indigo-400" if has_in_path? 'inventory' %>
              "
            ></i>
            <span class="w-full inline-block pb-1 md:pb-0 text-sm">
              Inventory
            </span>
          <% end %>
        </li>
    
        <li class="my-2 md:my-0">
          <%= link_to sales_path,
            class: "block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400" do %>
            <i
              class="
                fa-solid
                fa-cash-register
                mr-3
                <%= "text-indigo-400" if has_in_path? 'sales' %>
              "
            ></i>
            <span class="w-full inline-block pb-1 md:pb-0 text-sm">
              Sales
            </span>
          <% end %>
        </li>
    
        <li class="my-2 md:my-0">
          <%= link_to resupplies_path,
            class: "block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400" do %>
            <i
              class="
                fa-solid
                fa-list-check
                mr-3
                <%= "text-indigo-400" if has_in_path? 'resupplies' %>
              "
            ></i>
            <span class="w-full inline-block pb-1 md:pb-0 text-sm">
              Resupplies
            </span>
          <% end %>
        </li>
    
        <li class="my-2 md:my-0">
          <%= link_to expenses_path,
            class: "block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400" do %>
            <i
              class="
                fa-solid
                fa-clipboard
                mr-3
                <%= "text-indigo-400" if has_in_path? 'expenses' %>
              "
            ></i>
            <span class="w-full inline-block pb-1 md:pb-0 text-sm">
              Business expenses
            </span>
          <% end %>
        </li>
    
        <li class="my-2 md:my-0">
          <%= link_to financial_state_path,
            class: "block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400" do %>
            <i
              class="
                fa-solid
                fa-money-bill-trend-up
                mr-3
                <%= "text-indigo-400" if has_in_path? 'financial_state' %>
              "
            ></i>
            <span class="w-full inline-block pb-1 md:pb-0 text-sm">
              Financial state
            </span>
          <% end %>
        </li>
      </ul>
  </div>
</div>
  