<body class="h-full w-full bg-slate-50">
  <div class="gradient leading-relaxed tracking-wide flex flex-col">
    <%= render 'landing/partials/navbar' %>
    <%= render 'landing/partials/hero' %>
  </div>

  <%= render 'landing/partials/section' %>
  <%= render 'landing/partials/form' %>
  <%= render 'landing/partials/footer' %>
</body>
