<section id="features" class="bg-white py-32">

  <div
    class="
      container
      flex
      flex-col
      px-4
      mx-auto
      space-y-12
      md:space-y-0
      md:flex-row
    "
  >
    <div class="flex flex-col space-y-12 md:w-1/2">
      <h2 class="max-w-md text-4xl font-bold text-center md:text-left">
        <%= t("features_title") %>
      </h2>
      <p class="max-w-sm text-center text-gray-600 md:text-left">
        <%= t("feature_paragraph") %>
      </p>
    </div>
    <div class="flex flex-col space-y-8 md:w-1/2">
      <!-- Feature -->
      <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
        <div class="rounded-l-full bg-blue-100 md:bg-transparent">
          <div class="flex items-center space-x-2">
            <div class="px-4 py-2 text-white rounded-full md:py-1 bg-blue-500">
              01
            </div>
            <h3 class="text-base font-bold md:mb-4 md:hidden">
             <%= t("feature_subtitle_1") %> 
            </h3>
          </div>
        </div>

        <div>
          <h3 class="hidden mb-4 text-lg font-bold md:block">
            <%= t("feature_subtitle_1") %> 
          </h3>
          <p class="text-gray-600">
            <%= t("feature_subtitle_1_paragraph") %> 
          </p>
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
        <div class="rounded-l-full bg-blue-100 md:bg-transparent">
          <div class="flex items-center space-x-2">
            <div class="px-4 py-2 text-white rounded-full md:py-1 bg-blue-500">
              02
            </div>
            <h3 class="text-base font-bold md:mb-4 md:hidden">
              <%= t("feature_subtitle_2") %> 
            </h3>
          </div>
        </div>

        <div>
          <h3 class="hidden mb-4 text-lg font-bold md:block">
            <%= t("feature_subtitle_2") %> 
          </h3>
          <p class="text-gray-600">
            <%= t("feature_subtitle_2_paragraph") %> 
          </p>
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
        <div class="rounded-l-full bg-blue-100 md:bg-transparent">
          <div class="flex items-center space-x-2">
            <div class="px-4 py-2 text-white rounded-full md:py-1 bg-blue-500">
              03
            </div>
            <h3 class="text-base font-bold md:mb-4 md:hidden">
             <%= t("feature_subtitle_3") %> 
            </h3>
          </div>
        </div>

        <div>
          <h3 class="hidden mb-4 text-lg font-bold md:block">
            <%= t("feature_subtitle_3") %> 
          </h3>
          <p class="text-gray-600">
            <%= t("feature_subtitle_3_paragraph") %> 
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
