<nav id="header" class="w-full z-30 top-0 text-black py-1 lg:py-6">
  <div
    class="
      container
      w-full
      mx-auto
      flex
      flex-wrap
      items-center
      justify-between
      mt-0
      px-2
      py-2
      lg:py-6
    "
  >
    <div class="pl-4 flex items-center">
      <a
        class="
          text-black
          no-underline
          font-bold
          text-2xl
          lg:text-4xl
          hover:no-underline
        "
        href="#"
      >
        <svg
          class="h-6 w-6 inline-block fill-current text-yellow-700"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path d="M13 8V0L8.11 5.87 3 12h4v8L17 8h-4z"/>
        </svg>
        SAPEC
      </a>
    </div>

    <div class="block pr-4 lg:hidden">
      <button
        id="nav-toggle"
        class="
          flex
          items-center
          px-3
          py-2
          border
          rounded
          text-gray-500
          border-gray-600
          appearance-none
          hover:text-gray-800
          hover:border-green-500
          focus:outline-none
        "
      >
        <svg
          class="fill-current h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
    </div>
    <div
      id="nav-content"
      class="
        w-full
        flex-grow
        hidden
        mt-2
        text-black
        p-4
        z-20
        lg:flex
        lg:items-center
        lg:w-auto
        lg:p-0
        lg:mt-0
      "
    >
      <ul class="list-reset justify-end flex-1 items-center lg:flex">
        <li class="mr-3">
          <%= link_to "Español", root_path(lang: :es), class: "inline-block py-2 px-4 text-black font-bold no-underline" %>

          <%= link_to "English", root_path(lang: :en), class: "inline-block py-2 px-4 text-black font-bold no-underline" %>

          <% if current_user.present? %>
            <%= link_to 'Go to dashboard',
              dashboard_path,
              class: "bg-landing-button mx-auto text-gray-800 font-extrabold rounded mt-4 py-4 px-8 shadow opacity-75 lg:mx-0 hover:underline" %>
          <% else %>
            <%= link_to t("sign_in"),
              new_user_session_path,
              class: "inline-block py-2 px-4 text-black font-bold no-underline" %>

            <%= link_to t("sign_up"), 
              new_user_registration_path, 
              class: "bg-landing-button mx-auto text-gray-800 font-extrabold rounded mt-4 py-4 px-8 shadow opacity-75 lg:mx-0 hover:underline" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
