<% unless @products.empty? %>
  <h3 class="text-xl my-5">
    Total value:
    <span class="font-bold">
      <%= number_to_currency @total_value %>
    </span>
  </h3>

  <div
    class="
      col-span-full
      bg-white
      shadow-lg
      rounded-sm
      border
      border-gray-200
      xl:col-span-6
    "
  >
    <header class="px-5 py-4 border-b border-gray-100">
      <h2 class="font-bold text-gray-800">List of Products</h2>
    </header>
    <div class="p-3">
      <!-- Table -->
      <div class="overflow-x-auto">
        <table class="table-auto w-full">
          <!-- Table header -->
          <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
            <tr>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Code</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Name</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">
                  Purcharse
                  <br/>
                  price
                </div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Sale price</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Stock</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-left">Value</div>
              </th>
              <th class="p-2 whitespace-nowrap">
                <div class="font-bold text-center">Options</div>
              </th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            <% @products.each do |product| %>
              <tr class="border-b">
                <td class="text-sm text-gray-900 px-2 py-4 whitespace-nowrap">
                  <%= product.code %>
                </td>
                <td class="text-sm text-gray-900 px-2 py-4 whitespace-nowrap">
                  <%= product.name %>
                </td>
                <td class="text-sm text-gray-900 px-2 py-4 whitespace-nowrap">
                  <%= number_to_currency product.purchase_price %>
                </td>
                <td class="text-sm text-gray-900 px-2 py-4 whitespace-nowrap">
                  <%= number_to_currency product.sale_price %>
                </td>
                <td class="text-sm text-gray-900 px-2 py-4 whitespace-nowrap">
                  <%= product.stock %>
                </td>
                <td class=" text-sm text-gray-900 px-2 py-4 whitespace-nowrap ">
                  <span class="font-bold">
                    <%= number_to_currency product.calculate_value %>
                  </span>
                </td>
                <td class="text-center text-sm text-gray-900 font-normal py-4 max-w-[100px]">
                  <div class="flex justify-center space-x-2">
                    <%= link_to 'Edit',
                      edit_product_path(product),
                      class: 'bg-blue-500 text-white font-bold py-2 px-6 rounded-full hover:bg-blue-600' %>

                    <%= link_to 'Resupply',
                      new_resupply_path(product_id: product),
                      class: 'bg-green-500 text-white font-bold py-2 px-6 rounded-full hover:bg-green-600' %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <h2 class="text-center font-bold text-3xl">
    No products registered!
  </h2>
<% end %>
