<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Create a user account</h1>

  <%= form_with(model: @user, class: "contents") do |form| %>
    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :email %>
      <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :password %>
      <%= form.password_field :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :role %>
      <%= select_tag(:role, options_for_select(roles_to_options)) %>
    </div>

    <div class="inline">
      <%= form.submit "Create employee", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <hr>

  <h1 class="font-bold text-4xl">Add already existing account</h1>

  <%= form_with url: enroll_existing_user_to_current_business_path, method: :post do |form| %>
    <div class="my-5">
      <%= form.label :email %>
      <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :role %>
      <%= select_tag(:role, options_for_select(roles_to_options)) %>
    </div>
    <%= form.submit "Add to business", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium  cursor-pointer" %>
  <% end %>

  <%= link_to 'Back to users', users_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
