<header
  class="
    text-sm
    uppercase
    text-gray-400
    bg-gray-50
    rounded-sm
    font-bold
    p-2
  "
>
  <%= format_month_from_expense(expense) %>
</header>
<ul class="my-1">
  <!-- Item -->
  <li class="flex px-2">
    <div class="w-9 h-9 rounded-full shrink-0 bg-red-500 my-2 mr-3">
      <img
        id="left-arrow"
        src="<%= asset_path('red-arrow.png')%>"
        class="w-64 mx-auto"
      />
    </div>
    <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
      <div class="grow flex justify-between">
        <div class="self-center">Monthly Rent of the Store</div>
        <div class="shrink-0 self-start ml-2">
          <span class="font-medium text-gray-800">
            -<%= expense.rent %>
          </span>
        </div>
      </div>
    </div>
  </li>
  <!-- Item -->
  <li class="flex px-2">
    <div class="w-9 h-9 rounded-full shrink-0 bg-red-500 my-2 mr-3">
      <img
        id="left-arrow"
        src="<%= asset_path('red-arrow.png')%>"
        class="w-64 mx-auto"
      />
    </div>
    <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
      <div class="grow flex justify-between">
        <div class="self-center">
          <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Employees' salaries</a>
        </div>
        <div class="shrink-0 self-start ml-2">
          <span class="font-medium text-gray-800">
            -<%= expense.salaries %>
          </span>
        </div>
      </div>
    </div>
  </li>
  <!-- Item -->
  <li class="flex px-2">
    <div class="w-9 h-9 rounded-full shrink-0 bg-red-500 my-2 mr-3">
      <img
        id="left-arrow"
        src="<%= asset_path('red-arrow.png')%>"
        class="w-64 mx-auto"
      />
    </div>
    <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
      <div class="grow flex justify-between">
        <div class="self-center">
          <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Monthly General Charges</a>
        </div>
        <div class="shrink-0 self-start ml-2">
          <span class="font-medium text-gray-800">
            -<%= expense.general_charges %>
          </span>
        </div>
      </div>
    </div>
  </li>
  <!-- Item -->
  <li class="flex px-2">
    <div class="w-9 h-9 rounded-full shrink-0 bg-gray-200 my-2 mr-3">
      <img
        id="left-arrow"
        src="<%= asset_path('red-arrow.png')%>"
        class="w-64 mx-auto"
      />
    </div>
    <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
      <div class="grow flex justify-between">
        <div class="self-center">
          <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Payment of service bills</a>
        </div>
        <div class="shrink-0 self-start ml-2">
          <span class="font-medium text-gray-800">
            -<%= expense.service_bills %>
          </span>
        </div>
      </div>
    </div>
  </li>
  <!-- Item -->
  <li class="flex px-2">
    <div class="w-9 h-9 rounded-full shrink-0 bg-gray-200 my-2 mr-3">
      <img
        id="left-arrow"
        src="<%= asset_path('red-arrow.png')%>"
        class="w-64 mx-auto"
      />
    </div>
    <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
      <div class="grow flex justify-between">
        <div class="self-center">
          <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Amortizations</a>
        </div>
        <div class="shrink-0 self-start ml-2">
          <span class="font-medium text-gray-800">
            -<%= expense.amortizations %>
          </span>
        </div>
      </div>
    </div>
  </li>
  <!-- Item -->
  <li class="flex px-2">
    <div class="w-9 h-9 rounded-full shrink-0 bg-gray-200 my-2 mr-3">
      <img
        id="left-arrow"
        src="<%= asset_path('red-arrow.png')%>"
        class="w-64 mx-auto"
      />
    </div>
    <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
      <div class="grow flex justify-between">
        <div class="self-center">
          <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Monthly commissions</a>
        </div>
        <div class="shrink-0 self-start ml-2">
          <span class="font-medium text-gray-800">
            -<%= expense.commissions %>
          </span>
        </div>
      </div>
    </div>
  </li>
  <!-- Item -->
  <li class="flex px-2">
    <div class="w-9 h-9 rounded-full shrink-0 bg-red-500 my-2 mr-3">
      <img
        id="left-arrow"
        src="<%= asset_path('red-arrow.png')%>"
        class="w-64 mx-auto"
      />
    </div>
    <div class="grow flex items-center text-sm py-2">
      <div class="grow flex justify-between">
        <div class="self-center">
          <a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Monthly Taxes</a>
        </div>
        <div class="shrink-0 self-start ml-2">
          <span class="font-medium text-gray-800">
            -<%= expense.taxes %>
          </span>
        </div>
      </div>
    </div>
  </li>
</ul>

<%= link_to 'Edit this expense', edit_expense_path(expense), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
<hr class="mt-6">
