<% unless @expenses.empty? %>
  <div class="col-span-full xl:col-span-6 bg-white shadow-lg rounded-sm border border-gray-200">
    <header class="px-5 py-4 border-b border-gray-100">
      <h2 class="font-semibold text-gray-800">Expenses</h2>
    </header>
    <div class="p-3">
      <!-- Card content -->
      <!-- "Today" group -->
      <div>
      <% @expenses.each do |expense| %>
        <header class="text-xs uppercase text-gray-400 bg-gray-50 rounded-sm font-bold p-2">This Month</header>
        <ul class="my-1">
        <div>
          <!-- Item -->
          <li class="flex px-2">
            <div class="w-9 h-9 rounded-full shrink-0 bg-red-500 my-2 mr-3">
              <img id="sapec_logo" src="<%= asset_path('red-arrow.png')%>" class="w-64 mx-auto"/>
            </div>
            <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
              <div class="grow flex justify-between">
                <div class="self-center">Monthly Rent of the Store</div>
                <div class="shrink-0 self-start ml-2">
                  <span class="font-medium text-gray-800">-<%= expense.rent %></span>
                </div>
              </div>
            </div>
          </li>
          <!-- Item -->
          <li class="flex px-2">
            <div class="w-9 h-9 rounded-full shrink-0 bg-red-500 my-2 mr-3">
              <img id="sapec_logo" src="<%= asset_path('red-arrow.png')%>" class="w-64 mx-auto"/>
            </div>
            <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
              <div class="grow flex justify-between">
                <div class="self-center"><a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Employees' salaries</a></div>
                <div class="shrink-0 self-start ml-2">
                  <span class="font-medium text-gray-800">-<%= expense.salaries %></span>
                </div>
              </div>
            </div>
          </li>
          <!-- Item -->
          <li class="flex px-2">
            <div class="w-9 h-9 rounded-full shrink-0 bg-red-500 my-2 mr-3">
              <img id="sapec_logo" src="<%= asset_path('red-arrow.png')%>" class="w-64 mx-auto"/>
            </div>
            <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
              <div class="grow flex justify-between">
                <div class="self-center"><a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Monthly General Charges</a></div>
                <div class="shrink-0 self-start ml-2">
                  <span class="font-medium text-gray-800">-<%= expense.general_charges %></span>
                </div>
              </div>
            </div>
          </li>
          <!-- Item -->
          <li class="flex px-2">
            <div class="w-9 h-9 rounded-full shrink-0 bg-gray-200 my-2 mr-3">
              <img id="sapec_logo" src="<%= asset_path('red-arrow.png')%>" class="w-64 mx-auto"/>
            </div>
            <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
              <div class="grow flex justify-between">
                <div class="self-center"><a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Payment of service bills</a></div>
                <div class="shrink-0 self-start ml-2">
                  <span class="font-medium text-gray-800">-<%= expense.service_bills %></span>
                </div>
              </div>
            </div>
          </li>
          <!-- Item -->
          <li class="flex px-2">
            <div class="w-9 h-9 rounded-full shrink-0 bg-gray-200 my-2 mr-3">
              <img id="sapec_logo" src="<%= asset_path('red-arrow.png')%>" class="w-64 mx-auto"/>
            </div>
            <div class="grow flex items-center border-b border-gray-100 text-sm py-2">
              <div class="grow flex justify-between">
                <div class="self-center"><a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Monthly commissions</a></div>
                <div class="shrink-0 self-start ml-2">
                  <span class="font-medium text-gray-800">-<%= expense.commissions %></span>
                </div>
              </div>
            </div>
          </li>
          <!-- Item -->
          <li class="flex px-2">
            <div class="w-9 h-9 rounded-full shrink-0 bg-red-500 my-2 mr-3">
              <img id="sapec_logo" src="<%= asset_path('red-arrow.png')%>" class="w-64 mx-auto"/>
            </div>
            <div class="grow flex items-center text-sm py-2">
              <div class="grow flex justify-between">
                <div class="self-center"><a class="font-medium text-gray-800 hover:text-gray-900" href="#0">Monthly Taxes</a></div>
                <div class="shrink-0 self-start ml-2">
                  <span class="font-medium text-gray-800">-<%= expense.taxes %></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>      

      <% if action_name != "show" %>
        <%= link_to "Show this expense", expense, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to 'Edit this expense', edit_expense_path(expense), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        <hr class="mt-6">
      <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <h2 class="text-center font-bold text-3xl">
    No clients registered!
  </h2>
<% end %>
