<body class="h-full w-full bg-slate-50">
  <div class="gradient leading-relaxed tracking-wide flex flex-col">
    <%= render 'landing_page/landing_render/navbar' %>
    <div class="flex items-center w-full mx-auto content-end"> 
        
        <%= render 'landing_page/landing_render/hero' %>
      </div> 
    </div>
   </div>
  </div>

  <%= render 'landing_page/landing_render/section' %>
  <%= render 'landing_page/landing_render/form' %>
  <%= render 'landing_page/landing_render/footer' %>
</body>
