<% content_for :form_wrap do %>

  <h2 class="text-3xl font-bold mb-6">
    Log in
  </h2>

  <%= render "devise/shared/oauth_providers_links", action: 'Log in' %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="w-full flex items-center justify-between py-5">
      <hr class="w-full bg-gray-400">
      <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OR</p>
      <hr class="w-full bg-gray-400 ">
    </div>

    <div class="mb-6">
      <%= f.label :email, class: "uppercase text-gray-700 text-xs font-bold" %>
      <br/>
      <%= f.email_field :email,
        autofocus: true,
        autocomplete: "email",
        class: "bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" %>
    </div>

    <div class="mb-6">
      <%= f.label :password , class: "uppercase text-gray-700 text-xs font-bold " %>
      <% if @minimum_password_length %>
        <em class="italic text-sm text-gray-600">(<%= @minimum_password_length %>&nbsp;characters minimum)</em>
      <% end %>
      <br/>
      <%= f.password_field :password,
        autocomplete: "new-password",
        class: "bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" %>
    </div>

    <div class="mt-8">
      <%= f.submit "Log in",
        class: "focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 focus:outline-none text-sm font-semibold leading-none text-white bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full" %>
    </div>
    <br>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

  <% end %>

  <div class="my-6">
    <%= render "devise/shared/links" %>
  </div>

<% end %>

<%= render "devise/shared/form_wrap" %>
