<div class="h-screen bg-gray-100">
  <%= render 'dashboard/sidebar' %>
  <%= render 'dashboard/partials/navbar' %>
  <div class="mx-auto w-full py-10 md:w-2/3">
   <%= render 'financial_state/partials/header' %>
  <div class="mb-8">
   <%= render 'financial_state/partials/sales_table' %>
   </div>
   <%= render 'financial_state/partials/resupplies_table' %>
   </div>
  </div>