<%= form_for business, url: business_path, class: "contents" do |f| %>

  <div class="mb-6">
    <%= f.label 'Name *',
      for: 'business_name',
      class: "block mb-2 text-sm font-medium text-gray-900" %>

    <%= f.text_field :name,
      placeholder: 'Enter business name',
      class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500" %>

    <% business.errors.full_messages_for(:name).each do |message| %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline"><%= message %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
    <% end %>
  </div>

  <div class="mb-6">
    <%= f.label 'Type *',
      for: 'business_type',
      class: "block mb-2 text-sm font-medium text-gray-900" %>

    <%= f.text_field :business_type,
      placeholder: 'Enter business type',
      class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500' %>

    <% business.errors.full_messages_for(:business_type).each do |message| %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline"><%= message %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
    <% end %>
  </div>

  <div class="mb-6">
    <%= f.label 'Address *',
      for: 'business_address',
      class: "block mb-2 text-sm font-medium text-gray-900" %>

    <%= f.text_field :address,
      placeholder: 'Enter business address',
      class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500' %>

    <% business.errors.full_messages_for(:address).each do |message| %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline"><%= message %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
    <% end %>
  </div>

  <div class="mb-6">
    <%= f.label 'Description *',
      for: 'business_description',
      class: "block mb-2 text-sm font-medium text-gray-900" %>

    <%= f.text_field :description,
      placeholder: 'Enter your description',
      class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500' %>

    <% business.errors.full_messages_for(:description).each do |message| %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline"><%= message %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
    <% end %>
  </div>

  <div class="mb-6">
    <%= f.label 'Country *', class: "text-sm font-medium text-gray-900" %>
    <%= f.select :country_id, 
      countries_to_options(@countries),
      {}, { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full mt-2 p-2.5 focus:ring-blue-500 focus:border-blue-500' } %>
  </div>

  <div class="mb-6">
    <%= f.label "Upload logo", class: "mr-2 text-sm font-medium text-gray-900" %>
    <div class="mt-4 inline">
      <label
        class="
          inline
          bg-blue-500
          rounded
          text-white
          py-2
          px-4
          hover:border-blue-500
          hover:bg-blue-400
        "
      >
        Choose file
        <span class="hidden">
          <%= f.file_field :logo %>
        </span>
      </label>
    </div>
  </div>

  <div class="flex items-center space-x-2">
    <%= f.submit class: "text-white bg-blue-700 font-medium rounded-lg text-sm w-full px-5 py-2.5 mt-4 text-center cursor-pointer hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 sm:w-auto" %>

    <% if has_in_path? 'edit' %>
      <%= link_to "Cancel",
        business_path,
        class: "text-white bg-red-600 font-medium rounded-lg text-sm w-full px-5 py-2.5 mt-4 text-center cursor-pointer hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 sm:w-auto" %>
    <% end %>
  </div>

<% end %>
