<div class="h-screen bg-gray-100 ">
  <%= render 'dashboard/sidebar' %>
  <div class="absolute right-0 top-0 mt-3">   
    <%= render 'dashboard/partials/menu' %>
  </div>
    <div class="mx-auto w-full py-10 md:w-2/3">
    <div class="flex justify-between items-center mb-4 ">
    <h1 class="font-bold text-4xl mb-5">Sales</h1>
    <%= link_to 'New sale', new_sale_path, class:"text-white bg-blue-700 font-medium rounded-lg text-sm w-full px-5 py-2.5 mt-4 text-center cursor-pointer hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 sm:w-auto"%>
    </div>
  <div class="col-span-full bg-white shadow-lg rounded-sm border border-gray-200 xl:col-span-6 ">
    <table class="table-auto w-full" >
      <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
        <tr>
          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Client</th>
          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Total</th>
          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Date</th>
          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Details</th>
        </tr>
      </thead>
      <tbody>
        <% @sales.each do |sale| %>
          <tr class="border-b">
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              <%= sale.client.name %>
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              $ <%= sale.total %>
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              <%= sale.created_at %>
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              <%= link_to 'Details', sale_path(sale), style: "color: blue" %>
            </td>
          </tr>
        <% end %>
      <tr class="border-gray-700">
        <td class="text-sm text-orange-500 font-light px-6 py-4 whitespace-nowrap">
          Total prices sales
        </td>
        <td class="text-sm text-red-500 font-light px-6 py-4 whitespace-nowrap">
          $<%=@sales.total_prices_sales %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
