<div class="h-screen bg-gray-100 ">
  <%= render 'dashboard/sidebar' %>
  <%= render 'dashboard/partials/navbar' %>
  <div class="mx-auto w-full py-10 md:w-2/3">
   <div class="bg-white shadow-lg rounded-sm border border-gray-200 p-12">
      <%= render @sale %>
      <%= form_with url: sale_details_pdf_path(id: @sale.id, format: :pdf), method: :get do |form| %>
        <%= form.submit 'Download sale details', class: '', :formtarget => "_blank" %>
      <% end %>
      <%= link_to 'Edit this sale', edit_sale_path(@sale), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Back to sales', sales_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
</div>
