<!DOCTYPE html>
<html>
  <head>
    <title>SAPEC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"
    >
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:400,700,800"
    >
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700"
    />
  </head>
  <body>
  <% if notice %>
    <p class="alert alert-success">
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger">
      <%= alert %>
    </p>
  <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
